.rmq-27dabc86 {
  max-width: 960px;
  margin: 0px auto;
  padding-left: 40px;
  padding-right: 40px;
}

.rmq-77791fc {
  padding: 80px 0px;
}

.rmq-dc160f08 {
  font-weight: 300;
  font-size: 48px;
  letter-spacing: 1.5px;
  line-height: 1;
  margin-bottom: 10px;
}

.index-list {
  line-height: 2;
  letter-spacing: 1.5px;
}

.rmq-d92f5945 {
  font-weight: 300;
  font-size: 18px;
}

.rmq-9b5d13cf {
  padding-bottom: 100px;
}

.table-header {
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 2px;
  text-transform: uppercase;
}

.rmq-9b5d13cf {
  padding-bottom: 100px;
}

.Index-column {
  float: left;
  width: 30%;
}

.Elements--two_columns {
  display: flex;
}

.Portfolio-column {
  width: 70%;
  float: right;
}

.Education-box {
  margin: 0px auto;
  padding-top: 40px;
  padding-bottom: 40px;
}

.Skills {
  float: right;
}

.About {
  position: relative;
  padding-top: 1000px;
  margin-top: 100px;
}
